# Environment envrc file
# mbelab
# Meant to be sourced or automatically executed by direnv


# set env vars
export AI_ENV_ROOT=$(realpath $(dirname $BASH_SOURCE))

export AI_ENV_LLAMA=$AI_ENV_ROOT/'llama.cpp'
export AI_ENV_LLAMA_BUILD=$AI_ENV_LLAMA/'build'
export AI_ENV_LLAMA_BIN=$AI_ENV_LLAMA_BUILD/'bin'

export AI_ENV_VENV=$AI_ENV_ROOT/'.venv'
export AI_ENV_VENV_PYTHON=$AI_ENV_VENV/'bin/python3'

export AI_ENV_MODEL_LIST=$AI_ENV_ROOT/'data/model_list.json'
export AI_ENV_MODEL_PATH=$AI_ENV_ROOT/'data/models'

export OPENAI_API_BASE='http://127.0.0.1:9000/v1'
export OPENAI_API_KEY=

# set include paths
export PATH=$AI_ENV_ROOT:$PATH
export PATH=$AI_ENV_ROOT/'bin':$PATH

# activate python venv if existing
if [ -f $AI_ENV_VENV/'bin/activate' ]
then
    source $AI_ENV_VENV/'bin/activate'
fi

# source possibly existing local envrc file (user specific)
# local envrc file is ignored by git and allows to override/extend this envrc by user
# to change/extend shell preparation, simply create file *.envrc_local* and add code
if [ -f .envrc_local ]
then
    source .envrc_local
fi
