# gitignore

# private directories (also in subdirectories)
private/

# local envrc file
.envrc_local

# python and virtual environment directories (also in subdirectories)
__pycache__/
.venv/

# content of data/models directory (except .gitkeep)
data/models/*
!data/models/.gitkeep
